body {
  background: radial-gradient(circle at 65% 15%, aqua, darkblue) no-repeat;
}
@media (max-width: 930px) {
  body {
    margin: 0;
  }
}

.icon, .icon2 {
  background: url("../img/camp 1.png") 0 0/100% 100% no-repeat;
  height: 40vh;
  width: 18%;
  position: absolute;
  left: 5%;
  top: 5%;
}
@media (max-width: 930px) {
  .icon, .icon2 {
    display: none;
  }
}

.icon2 {
  left: 75%;
  top: 55%;
  -webkit-transform: scale(-0.8, 0.8);
          transform: scale(-0.8, 0.8);
}

.section {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .section__table {
  width: 50%;
  height: 98vh;
  border-spacing: 0;
  font-family: sans-serif;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .section .section__table {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .section .section__table {
    font-size: calc(12px + 2 * (100vw / 1280));
  }
}
.section .section__table tr {
  text-align: center;
  background: white;
}
.section .section__table tr th {
  padding: 3px 10px;
  color: white;
}
@media (max-width: 450px) {
  .section .section__table tr th {
    padding: 3px 0;
    color: white;
  }
}
.section .section__table tr td {
  border-top: 1px solid rgb(12, 12, 12);
  width: 15.5%;
  font-size: 15px;
}
.section .section__table tr .number {
  width: 7%;
  font-size: 13px;
  background: rgba(5, 77, 172, 0.671);
  color: white;
}
.section .section__table .section__table_bar {
  background: rgba(5, 77, 172, 0.671);
}
.section .section__table .section__table_bar :first-child {
  border-radius: 30px 0 0 0;
}
@media (max-width: 930px) {
  .section .section__table .section__table_bar :first-child {
    border-radius: 0;
  }
}
.section .section__table .section__table_bar :last-child {
  border-radius: 0 30px 0 0;
}
@media (max-width: 930px) {
  .section .section__table .section__table_bar :last-child {
    border-radius: 0;
  }
}
@media (max-width: 930px) {
  .section .section__table {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
@media (max-width: 930px) {
  .section {
    width: 100%;
  }
}
.section .leader {
  text-shadow: 0px 0px 1px red;
  color: red;
}
.section .media {
  text-shadow: 0px 0px 1px rgb(199, 0, 199);
  color: rgb(199, 0, 199);
}
.section .clear {
  text-shadow: 0px 0px 1px rgb(45, 45, 255);
  color: rgb(59, 59, 255);
}
.section .eco {
  text-shadow: 0px 0px 1px green;
  color: green;
}
.section .food {
  text-shadow: 0px 0px 7px rgb(255, 255, 0);
  color: rgb(165, 165, 21);
}
.section .activite {
  text-shadow: 0px 0px 3px rgb(255, 166, 0);
  color: rgb(209, 137, 4);
}
.section .solider, .section .ecologic, .section .eng, .section .drone {
  position: relative;
}
.section .solider::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/solider.png);
  left: 1px;
  top: 2px;
}
.section .ecologic::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/eco.png);
  left: 1px;
  top: 2px;
}
.section .eng::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/eng\ \(1\).png);
  left: 1px;
  top: 2px;
}
.section .drone::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/drone\ \(5\).png);
  left: 1px;
  top: 2px;
}
.section .solider :first-child {
  font-weight: 700;
}
.section .second :first-child {
  background: rgba(80, 96, 241, 0.767) !important;
  font-weight: 700;
}
.section .third :first-child {
  background: rgba(57, 68, 172, 0.767) !important;
  font-weight: 700;
}